/* Universal selector style */
/* guessing this will change the entire page background. */
/* Notes to self : yes Universal selector lets you change up the main page behind content */

* {
    box-sizing: border-box;
    font-family: Georgia, 'Courier New', Arial; 
    
}

body {
    background-color: beige;
}

.card {
    width: 450px;
    margin: auto;
    border: solid 4px black;
}

.header,
.body {
    text-align: center;
}

