* {
    box-sizing: border-box;
    font-family: Georgia, 'Courier New', Arial;
}

body {
    background-color: beige;
}

.header { 
    border: solid 4px black;
    text-align: center;
    margin: auto;
    width: 300px;
    max-width: 90%;
}

.intro {
    text-align: center;
}

.imguno {
    text-align: center;
    max-width: 100%;
}

.imguno img {
    max-width: 90%;
}

.description { 
    text-align: center;
}

.ingredients {
    border: solid 4px black;
    padding: 4px;
    max-width: 90%;
    margin: auto;
}

.frosting {
    border: solid 4px black;
    padding: 4px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
}

.prep {
    border: solid 4px black;
    padding: 4px; 
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
}

.decorate {
    border: solid 4px black;
    padding: 4px;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
}

.imgdos { 
    text-align: center;
    margin-top: 10px;
    max-width: 100%;
}

.imgdos img {
    max-width: 90%;
}

.end { 
    text-align: center;
}